.section__about {
  padding: 25rem 0 25rem 0;
  margin-top: -20vh;
  background-color: $color-gray-1;

  display: flex;
  flex-direction: column;
  align-items: center;

  div {
    max-width: 130rem;
  }

  &--desc {
    padding: 12rem 0;

    display: flex;
    align-items: center;
    gap: 10rem;
  }

  &--text-container {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;

    width: 50%;
  }

  &--img-container {
    position: relative;

    .image--1 {
      position: absolute;
      top: -18rem;
      left: 0;
      transition: all 0.4s;
      box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);

      &:hover {
        scale: 1.2;
        z-index: 100;
        outline: 1.5rem solid $primary-color;
        border-radius: 12px;
        outline-offset: 2rem;
      }
    }

    .image--2 {
      position: absolute;
      top: -12rem;
      left: 24rem;
      transition: all 0.4s;
      box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);

      &:hover {
        scale: 1.2;
        z-index: 100;
        outline: 1.5rem solid $primary-color;
        border-radius: 12px;
        outline-offset: 2rem;
      }
    }

    .image--3 {
      position: absolute;
      top: -5rem;
      left: 10rem;
      transition: all 0.4s;
      box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);

      &:hover {
        scale: 1.2;
        z-index: 100;
        outline: 1.5rem solid $primary-color;
        border-radius: 12px;
        outline-offset: 2rem;
      }
    }
  }
}

.section__features {
  background-image: linear-gradient(
      to right bottom,
      rgba($primary-color-light, 0.8),
      rgba($primary-color-dark, 0.8)
    ),
    url(../img/nat-4.jpg);

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  padding: 25rem 0;

  transform: skewY(-7deg);

  margin-top: -12rem;

  display: flex;
  align-items: center;
  justify-content: center;
}

.features__container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 6.4rem;
  transform: skewY(7deg);
  max-width: 130rem;
  text-align: center;
  color: $color-gray;

  &--card {
    background-color: rgba($color: $color-white, $alpha: 0.8);
    box-shadow: 0 1.5rem 4rem rgba($color-black, 0.15);
    padding: 2.5rem;
    transition: all 0.4s;

    &:hover {
      transform: translateY(-1.5rem) scale(1.03);
    }
  }
}

.section__tours {
  padding: 25rem 0;
  background-color: $color-gray-1;
  margin-top: -10rem;

  &--container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6.4rem;
    margin-top: 6rem;
  }

  &--card-container {
    height: 50rem;
    width: 35rem;
    position: relative;
    perspective: 150rem;
  }

  &--card {
    transition: all 1s ease;
    backface-visibility: hidden;
    box-shadow: 0 1.5rem 4rem rgba($color: #000000, $alpha: 0.15);
  }

  &--card-container:hover &--card {
    transform: rotateY(180deg);
  }

  &--card-container:hover &--card-back {
    transform: rotateY(0deg);
  }

  &--card-front {
    transform: rotateY(0deg);
    // background-color: $color-white;

    img {
      width: 100%;
      background-position: center;
      background-size: cover;
    }
  }

  &--card-back {
    transform: rotateY(-180deg);

    &-1 {
      background-image: linear-gradient(
        to right bottom,
        $secondary-light,
        $secondary-dark
      );
    }

    &-2 {
      background-image: linear-gradient(
        to right bottom,
        $primary-color-light,
        $primary-color-dark
      );
    }

    &-3 {
      background-image: linear-gradient(
        to right bottom,
        $tertiary-light,
        $tertiary-dark
      );
    }
  }

  &--card-front,
  &--card-back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
